{{!< default}}

<header class="masthead" {{#if @blog.cover}}" style="background-image: url({{@blog.cover}}){{else}}no-cover{{/if}}">
    <div class="header-wrapper">
	    {{#if @blog.logo}}<figure class="logo">
			<a href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="{{@blog.title}}"></a>
		</figure>{{/if}}
	    <div class="title">
	    	<a href="{{@blog.url}}">
	        	<h1>{{@blog.title}}</h1>
	        </a>
	      	<p>{{@blog.description}}</p>
	      	<div class="line"></div>
	    </div>
	    <div class="bottom">
			<ul class="menu">
				<li><a href="#"><i class="fa fa-twitter"></i></a></li>
				<li><a href="#"><i class="fa fa-github"></i></a></li>
				<li><a href="#"><i class="fa fa-instagram"></i></a></li>
			</ul>
	    </div>
  	</div>
</header>

<section class="container">
  
	{{> "loop"}}

</section>